@import "./custom.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;700&display=swap");

$base-color: black;
$highlight-color: #5b54da;

html,
body {
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
}

#brand {
  color: $highlight-color;
}

.image {
  max-height: 400px;
}

.light {
  opacity: 85% !important;
  transition: background-color 0.7s ease;
}

.navbar {
  padding: 0;
}

.nav-link {
  color: $base-color;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: $highlight-color;
}

.border-custom {
  border-width: 2px !important;
  border-color: $highlight-color !important;
}

.web-link {
  color: white;
}

.badge-link:hover {
  opacity: 95%;
}

.landing {
  margin-top: 12%;
}

.jumbotron {
  background-color: white;
}

.highlight-title {
  color: $highlight-color;
  font-size: 4rem;
}

.highlight-paragraph {
  font-size: 1.5rem;
}
