<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Api · GoStudy</title>
  </head>
  <body>
    <h1>API</h1>
    <p>Sorry, this is API. Access the api endpoints using /api/v1/.</p>
  </body>
</html>
